@import "tailwindcss";

@theme {
  --font-sans: "Open Sans", sans-serif;
  --font-display: "Montserrat", sans-serif;
  
  --color-brand-yellow: #FFC700;
  --color-brand-black: #111111;
  --color-brand-gray: #222222;
  --color-brand-red: #E53E3E;
}

html { scroll-behavior: smooth; }
body { background-color: #111111; color: #ffffff; }

/* Override Hotmart Widget Styles */
a.hotmart-fb.hotmart__button-checkout {
  background-color: #FFC700 !important;
  color: #111111 !important;
  background-image: none !important;
  border: none !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
  text-shadow: none !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
}

a.hotmart-fb.hotmart__button-checkout:hover {
  background-color: #e6b400 !important;
  transform: scale(1.05) !important;
}
